// I'm no designer - credit where credit is due:
// https://about.twitter.com/press/brand-assets#colors
$color-primary:			rgb(85, 172, 238);
$color-black:			rgb(0, 0, 0);
$color-grayDarkest:		rgb(41, 47, 51);
$color-grayDarker:		rgb(102, 117, 127);
$color-grayDark:		rgb(136, 153, 166);
$color-grayLight:		rgb(204, 214, 221);
$color-grayLighter:		rgb(225, 232, 237);
$color-grayLightest:	rgb(245, 248, 250);
$color-white:			rgb(255, 255, 255);
