.icon {
	$size: 24px;

	display: inline-block;
	width: $size;
	height: $size;
	background: no-repeat center;
	background-size: contain;
	vertical-align: middle;
	color: transparent;
	font-size: 0;
	line-height: normal;
}

@each $icon in email, twitter, github, stackoverflow, coderwall, linkedin, education {
	.icon--#{$icon} { background-image: url('/assets/images/icons/#{$icon}.svg'); }
}
