//== Short-hands
// http://thesassway.com/intermediate/responsive-web-design-in-sass-using-media-queries-in-sass-32
@mixin respond-to($media) {
	@if $media == retina {
		@media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5) { @content; }
	}
}


//== Styles
body {
	color: $color-grayDarkest;
	font-family: $fontFamily-openSans;
	font-weight: 300;
}

.contentWrapper {
	@include box-sizing(border-box);
	width: 100%;
	max-width: 640px;
	padding: 20px;
	margin: 0 auto;
}
.contentWrapper--noSpacing {
	padding-top: 0;
	padding-bottom: 0;
}
.contentWrapper--moreSpacing {
	padding-top: 30px;
	padding-bottom: 30px;
}

.headerSection {
	@include box-sizing(border-box);
	background: $color-grayDarkest url('/assets/images/cover.jpg') repeat center;
	background-size: cover;
}
.headerSection-rootLink {
	display: block;
	text-align: center;
	text-decoration: none;

	&:hover .headerSection-avatar {
		border-color: $color-primary;
		@include box-shadow(0 0 0 $color-primary);
		@include transition-duration(0);
		@include transition-delay(0);
	}
}
.headerSection-avatar {
	// gravatar: root@zykadelic.com
	$imageUrl: 'http://en.gravatar.com/avatar/82d3e0d3bd060fae9d346dcf745edff0.jpg';

	display: inline-block;
	width: 100px;
	height: 100px;
	border: 3px solid $color-grayDarker;
	@include border-radius(100%);
	background: url('#{$imageUrl}?size=100') no-repeat center;
	@include respond-to(retina) { background-image: url('#{$imageUrl}?size=200'); }
	background-size: 100%;
	@include box-shadow(0 0 20px $color-grayDarkest);
	@include transition(border 1s .1s, box-shadow 1s .1s);
}
.headerSection-title {
	margin: 0;
	color: $color-grayLightest;
	font-size: 36px;
	font-weight: 600;
	line-height: 40px;
	text-align: center;
	text-shadow: 0 1px 8px transparentize($color-black, .5);
	letter-spacing: -1px;
}
.headerSection-subtitle {
	margin: 10px 0 0;
	color: $color-grayLighter;
	font-size: 14px;
	font-weight: 300;
	line-height: normal;
	text-align: center;
	text-shadow: 0 1px 5px $color-black;
}

.pageSection {
	@include box-sizing(border-box);

	& + & {
		border-top: 1px solid $color-grayLighter;
	}
	&:nth-child(odd) {
		background: $color-grayLightest;
	}
}

.socialBar {
	@include box-sizing(border-box);
	padding: 15px 0;
	background: $color-primary;
	text-align: center;

	.icon + .icon { margin-left: 5%; }
}

.sectionTitle {
	margin: 0 0 8px;
	color: $color-grayDarker;
	font-size: 28px;
	font-weight: 600;
}

.markdownContent {
	p {
		margin: 0 0 16px;
		font-family: $fontFamily-roboto;
		font-size: 15px;
		text-align: justify;
	}
	em {
		font-weight: 400;
		font-style: normal;
	}
}

.timeline {
	padding: 5px 0 10px 15px;
	margin: 13px 0 15px 4px;
	border: 0 solid transparent;
	border-width: 1px 3px 5px;
	border-left-color: $color-primary;
	list-style: none;
}
.timeline-item {
	position: relative;
	display: block;
	padding: 10px 12px 14px;
	border-bottom: 1px solid $color-grayLight;
	@include border-radius(4px);
	background: $color-white;
	@include box-shadow(0 0 2px $color-grayLight);

	& + & { margin-top: 20px; }
	&:before {
		content: '';
		position: absolute;
		top: 20px;
		right: 100%;
		display: block;
		width: 15px;
		border-bottom: 3px solid $color-primary;
	}
	&.present {
		border-bottom-width: 2px;
		border-bottom-color: $color-primary;
	}
}
.timeline-item-title {
	margin: 0;
	font-size: 16px;
	font-weight: 600;
}
.timeline-item-subtitle {
	margin: 0;
	color: $color-grayDark;
	font-family: $fontFamily-roboto;
	font-size: 12px;
	font-weight: 300;
}
.timeline-item-subtitle-split {
	margin: 0 2px;

	&:before {
		content: "\2022"; // &bull;
	}
}
.timeline-item-description {
	margin: 6px 0 0;
	font-size: 14px;

	& + & { margin-top: 14px; }
}
