//== Short-hands
// http://thesassway.com/intermediate/responsive-web-design-in-sass-using-media-queries-in-sass-32
@mixin respond-to($media) {
	@if $media == retina {
		@media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5) { @content; }
	}
}


//== Styles
body {
	color: $color-grayDarkest;
	font-family: $fontFamily-openSans;
	font-weight: 300;
}

.contentWrapper {
	@include box-sizing(border-box);
	width: 100%;
	max-width: 640px;
	padding: 20px;
	margin: 0 auto;
}
.contentWrapper--noSpacing {
	padding-top: 0;
	padding-bottom: 0;
}
.contentWrapper--moreSpacing {
	padding-top: 35px;
	padding-bottom: 35px;
}

.headerSection {
	@include box-sizing(border-box);
	background: $color-grayDarkest url('/assets/images/cover.jpg') repeat center;
	background-size: cover;
	text-align: center;
}
.headerSection-avatar {
	$size: 100;
	$imageUrl: '//en.gravatar.com/avatar/82d3e0d3bd060fae9d346dcf745edff0.jpg'; // gravatar: root@zykadelic.com

	display: inline-block;
	width: $size + px;
	height: $size + px;
	padding: 4px;
	margin-bottom: 4px;
	@include border-radius(100%);
	background: $color-grayDarkest url('#{$imageUrl}?size=#{$size}') no-repeat center;
	@include respond-to(retina) { background-image: url('#{$imageUrl}?size=#{$size * 2}'); }
	background-size: $size + px;
	background-clip: content-box;
	@include box-shadow(0 0 20px $color-grayDarkest);
}
.headerSection-title {
	margin: 0;
	color: $color-grayLightest;
	font-size: 36px;
	font-weight: 600;
	line-height: 40px;
	text-shadow: 0 1px 8px transparentize($color-black, .5);
	letter-spacing: -1px;
}
.headerSection-subtitle {
	margin: 6px 0 0;
	color: $color-grayLighter;
	font-size: 14px;
	font-weight: 300;
	line-height: normal;
	text-shadow: 0 1px 5px $color-black;
}

.pageSection {
	@include box-sizing(border-box);

	& + & {
		border-top: 1px solid $color-grayLighter;
	}
	&:nth-child(odd) {
		background: $color-grayLightest;
	}
}

.socialBar {
	@include box-sizing(border-box);
	padding: 15px 0;
	background: $color-primary;
	text-align: center;

	.icon + .icon { margin-left: 5%; }
}

.sectionTitle {
	margin: 0 0 8px;
	color: $color-grayDarker;
	font-size: 28px;
	font-weight: 600;
}

.markdownContent {
	p {
		margin: 0 0 18px;
		font-family: $fontFamily-roboto;
		font-size: 15px;
		text-align: justify;
	}
	em {
		font-weight: 400;
		font-style: normal;
	}
}

.timeline {
	padding: 5px 0 10px 15px;
	margin: 13px 0 15px 4px;
	border: 0 solid transparent;
	border-width: 1px 3px 5px;
	border-left-color: $color-primary;
	list-style: none;
}
.timeline-item {
	position: relative;
	display: block;
	padding: 10px 12px 14px;
	border-bottom: 1px solid $color-grayLight;
	@include border-radius(4px);
	background: $color-white;
	@include box-shadow(0 0 2px $color-grayLight);

	& + & { margin-top: 20px; }
	&:before {
		content: '';
		position: absolute;
		top: 20px;
		right: 100%;
		display: block;
		width: 15px;
		border-bottom: 3px solid $color-primary;
	}
	&.present {
		border-bottom-width: 2px;
		border-bottom-color: $color-primary;
	}
}
.timeline-item-title {
	margin: 0;
	font-size: 16px;
	font-weight: 600;
}
.timeline-item-subtitle {
	margin: 0;
	color: $color-grayDark;
	font-family: $fontFamily-roboto;
	font-size: 12px;
	font-weight: 300;
}
.timeline-item-subtitle-split {
	margin: 0 2px;

	&:before {
		content: "\2022"; // &bull;
	}
}
.timeline-item-description {
	margin: 6px 0 0;
	font-size: 14px;

	& + & { margin-top: 14px; }

	a {
		position: relative;
		display: inline-block;
		color: $color-primary;
		text-decoration: none;
		font-weight: bold;

		&::after {
			content: '';
			position: absolute;
			bottom: -2px;
			left: 50%;
			width: 0%;
			height: 2px;
			background: transparent;
			@include transition(left .2s ease .2s, width .2s ease .2s, background .2s ease 0);
		}
		&:hover::after {
			left: 0%;
			width: 100%;
			background: $color-primary;
			@include transition(left .2s, width .2s, background .15s);
		}
	}
}
