<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Andreas Fransson - Web Developer</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/assets/stylesheets/main.css">
	<script src="/assets/javascripts/plugins/modernizr-2.6.2.min.js"></script>
</head>
<body>
	<!--[if lte IE 9]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<header class="headerSection">
		<div class="contentWrapper contentWrapper--moreSpacing">
			<div class="headerSection-avatar"></div>
			<h1 class="headerSection-title">Andreas Fransson</h1>
			<h2 class="headerSection-subtitle">Web Developer &bull; Stockholm Sweden</h2>
		</div>
	</header>


	<div role="main">
		<nav class="socialBar">
			<div class="contentWrapper contentWrapper--noSpacing">
				<a href="mailto:{{ site.data.contact.email }}" target="_blank" title="Send me an email" class="icon icon--email">Email</a>
				<a href="{{ site.data.contact.github }}" target="_blank" title="GitHub" class="icon icon--github">GitHub</a>
				<a href="{{ site.data.contact.stackoverflow }}" target="_blank" title="StackOverflow" class="icon icon--stackoverflow">StackOverflow</a>
				<a href="{{ site.data.contact.linkedin }}" target="_blank" title="LinkedIn" class="icon icon--linkedin">LinkedIn</a>
			</div>
		</nav>

		{{ content }}
	</div>

	<script src="/assets/javascripts/plugins/jquery-1.10.2.min.js"></script>
	<script src="/assets/javascripts/plugins.js"></script>
	<script src="/assets/javascripts/script.js"></script>

	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-31649925-1', 'zykadelic.com');
		ga('send', 'pageview');
	</script>
</body>
</html>
